body {

    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #52b1ff;

}

/* Centralizando o botão */
#openModal {

    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 40px;

}

/* Personalizando botão */
#btnModal {

    cursor: pointer;
    background-color: #52b1ff;
    font-size: 60px;
    border-radius: 20px;
    border: 4px solid rgb(255, 255, 255);
    width: 500px;
    color: #ffffff;

}

/* Centralizando modal */
#myModal {

  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
  background-color: white;
  
}

/* Personalizando modal */
#conteudoModal {

    display: none;
    margin: auto; 
    padding: 10px;
    width: 20%; 

  }

/* Personalizando o botão de sair */

.close {

    color: #ffffff;
    font-size: 28px;
    font-weight: bold;

  }
  
  .close:hover,
  .close:focus {

    color: rgb(255, 255, 255);
    cursor: pointer;

  }